@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
  background-color: #f8fafc;
}

/* Garante que o app ocupe a largura total */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #EAB308; /* Dourado */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #CA8A04; 
}